Node-RED.json
[{"id":"350ffc29.784234","type":"tab","label":"CRUD","disabled":true,"info":""},{"id":"d7b16839.375a98","type":"cloudant out","z":"350ffc29.784234","name":"","cloudant":"50d2994b.78f7a8","database":"modules","service":"module-connector-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1680,"y":780,"wires":[]},{"id":"2d3d7bd7.7ac234","type":"http in","z":"350ffc29.784234","name":"","url":"/modules","method":"get","upload":false,"swaggerDoc":"","x":90,"y":620,"wires":[["83f420c8.a40ff"]]},{"id":"a39750b2.92e4d","type":"http response","z":"350ffc29.784234","name":"","statusCode":"200","headers":{},"x":1680,"y":720,"wires":[]},{"id":"44770196.76641","type":"http response","z":"350ffc29.784234","name":"","statusCode":"","headers":{},"x":570,"y":620,"wires":[]},{"id":"83f420c8.a40ff","type":"cloudant in","z":"350ffc29.784234","name":"","cloudant":"","database":"modules","service":"module-connector-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":400,"y":620,"wires":[["44770196.76641"]]},{"id":"cd9fc614.6b6988","type":"http in","z":"350ffc29.784234","name":"","url":"/module","method":"post","upload":false,"swaggerDoc":"","x":90,"y":720,"wires":[["c38e891c.0702f8"]]},{"id":"c38e891c.0702f8","type":"function","z":"350ffc29.784234","name":"copy query to payload","func":"msg.payload = {};\nmsg.payload = msg.req.query;\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":720,"wires":[["a39750b2.92e4d","d7b16839.375a98"]]},{"id":"46265891.27fae8","type":"cloudant in","z":"350ffc29.784234","name":"","cloudant":"","database":"modules","service":"module-connector-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":760,"y":520,"wires":[["caa2de87.cd069"]]},{"id":"421b7ca1.a2e1e4","type":"cloudant in","z":"350ffc29.784234","name":"get all docs","cloudant":"","database":"modules","service":"module-connector-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":670,"y":200,"wires":[["be0a6624.13ee68"]]},{"id":"9446f41d.8fb5f8","type":"function","z":"350ffc29.784234","name":"fill dropdown","func":"var options = [];\nmsg.options = [];\nfor (var i = 0; i < msg.payload.length; i += 1) {\n    var option = {};\n    var value  = msg.payload[i]._id;\n    var label = msg.payload[i].Short_ID;\n    option[label] = value;\n    options.push(option)\n\n}\nmsg.options = options;\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":200,"wires":[["1f552ea8.a03951"]]},{"id":"f6bb4efb.5ae84","type":"change","z":"350ffc29.784234","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.B_Status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":120,"wires":[["afb2fd08.9af2"]]},{"id":"c027ce53.d38db","type":"change","z":"350ffc29.784234","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.L_Status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":160,"wires":[["b87844fd.4b4f38"]]},{"id":"6d205cb8.0c6e64","type":"change","z":"350ffc29.784234","name":"save _id","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload._id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":340,"wires":[["c07c9c39.8701f"]]},{"id":"891717cd.634c08","type":"http in","z":"350ffc29.784234","name":"","url":"/module_form","method":"post","upload":false,"swaggerDoc":"","x":110,"y":940,"wires":[["ed71bb9d.c89cf8"]]},{"id":"448103a0.69b7fc","type":"change","z":"350ffc29.784234","name":"","rules":[{"t":"set","p":"entry.L_Status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2240,"y":160,"wires":[[]]},{"id":"13659dbe.d478c2","type":"change","z":"350ffc29.784234","name":"","rules":[{"t":"set","p":"entry.B_Status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2240,"y":120,"wires":[[]]},{"id":"270e40e2.aedc2","type":"switch","z":"350ffc29.784234","name":"update or delete?","property":"check_response","propertyType":"flow","rules":[{"t":"eq","v":"update","vt":"str"},{"t":"eq","v":"delete","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1370,"y":940,"wires":[["88ec8d79.85a7a"],["721eff9.c9ca","db6a42bc.f7b94"]]},{"id":"88ec8d79.85a7a","type":"cloudant out","z":"350ffc29.784234","name":"update doc","cloudant":"dae90495.297598","database":"modules","service":"module-connector-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1630,"y":940,"wires":[]},{"id":"be0a6624.13ee68","type":"change","z":"350ffc29.784234","name":"initialize vars","rules":[{"t":"delete","p":"id","pt":"flow"},{"t":"delete","p":"rev","pt":"flow"},{"t":"delete","p":"serial_number","pt":"flow"},{"t":"delete","p":"mode_type","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":200,"wires":[["9446f41d.8fb5f8"]]},{"id":"abc7cb3a.96aea8","type":"switch","z":"350ffc29.784234","name":"rev, id available","property":"entry._id","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"false","repair":false,"outputs":2,"x":1080,"y":940,"wires":[["270e40e2.aedc2"],[]]},{"id":"508e2c8b.368884","type":"http response","z":"350ffc29.784234","name":"","statusCode":"","headers":{},"x":930,"y":1020,"wires":[]},{"id":"721eff9.c9ca","type":"cloudant out","z":"350ffc29.784234","name":"delete doc","cloudant":"dae90495.297598","database":"modules","service":"module-connector-cloudantNoSQLDB","payonly":false,"operation":"delete","x":1630,"y":980,"wires":[]},{"id":"248b42e7.24c93e","type":"change","z":"350ffc29.784234","name":"store entry in payload","rules":[{"t":"set","p":"entry","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":440,"wires":[[]]},{"id":"ed71bb9d.c89cf8","type":"change","z":"350ffc29.784234","name":"save check_response","rules":[{"t":"set","p":"check_response","pt":"flow","to":"payload.check_response","tot":"msg"},{"t":"delete","p":"payload.check_response","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":940,"wires":[["9dd2a8a8.b29778","beb74a36.8e4ba8"]]},{"id":"9dd2a8a8.b29778","type":"change","z":"350ffc29.784234","name":"load same page","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Location\": \"https://module-connector.eu-de.mybluemix.net/ui/#/0\"}","tot":"json"},{"t":"set","p":"statusCode","pt":"msg","to":"303","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1020,"wires":[["508e2c8b.368884"]]},{"id":"1e3f1cde.1a3013","type":"change","z":"350ffc29.784234","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Short_ID","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":80,"wires":[["e9818b6.de9f978"]]},{"id":"4a51b594.2e2e6c","type":"change","z":"350ffc29.784234","name":"","rules":[{"t":"set","p":"entry.Short_ID","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2240,"y":80,"wires":[[]]},{"id":"b56187e3.9aafb8","type":"change","z":"350ffc29.784234","name":"set global env","rules":[{"t":"set","p":"cloudant_secure","pt":"global","to":"https://648c1e71-b563-4589-be01-59bc7b9a1824-bluemix:c6c2586d5c4417cb256fd95c93944a9488f214e9d187848adf8bfaa35d27477b@648c1e71-b563-4589-be01-59bc7b9a1824-bluemix.cloudant.com","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":300,"wires":[[]]},{"id":"d8a040c6.da644","type":"http in","z":"350ffc29.784234","name":"","url":"/module","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1180,"wires":[["a6a1dde3.e2d1"]]},{"id":"8fc50fc4.7a375","type":"http response","z":"350ffc29.784234","name":"","statusCode":"","headers":{},"x":690,"y":1180,"wires":[]},{"id":"a6a1dde3.e2d1","type":"function","z":"350ffc29.784234","name":"get id","func":"msg.payload = {};\nmsg.payload = msg.req.query.id;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1180,"wires":[["83a81556.15ffb8"]]},{"id":"83a81556.15ffb8","type":"cloudant in","z":"350ffc29.784234","name":"","cloudant":"","database":"modules","service":"module-connector-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":420,"y":1180,"wires":[["8fc50fc4.7a375"]]},{"id":"7771f6a5.78e768","type":"change","z":"350ffc29.784234","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.O_Status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":200,"wires":[["260d4464.69df6c"]]},{"id":"fe18b815.842a68","type":"change","z":"350ffc29.784234","name":"","rules":[{"t":"set","p":"entry.O_Status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2250,"y":200,"wires":[[]]},{"id":"caa2de87.cd069","type":"function","z":"350ffc29.784234","name":"Extract IDs","func":"Short_IDs = \"\";\nall_modules = msg.payload;\nfor (var j = 0; j < all_modules.length; j++){\n\nShort_IDs = Short_IDs + all_modules[j].Short_ID + \" \" + all_modules[j]._id + \",\";\n\n}\nmsg.payload = Short_IDs;\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":520,"wires":[["544f53a4.7b327c"]]},{"id":"86682d66.1e3b","type":"link in","z":"350ffc29.784234","name":"show all modules","links":["36bbca0.3f66b36","db6a42bc.f7b94"],"x":115,"y":520,"wires":[["fb482fa2.8ee2c"]]},{"id":"36bbca0.3f66b36","type":"link out","z":"350ffc29.784234","name":"new module entered","links":["86682d66.1e3b","42dc833a.c0905c","c6405eae.71fa1"],"x":1575,"y":820,"wires":[]},{"id":"db6a42bc.f7b94","type":"link out","z":"350ffc29.784234","name":"module deleted","links":["86682d66.1e3b","42dc833a.c0905c","c6405eae.71fa1"],"x":1575,"y":1020,"wires":[]},{"id":"360367dc.cfe828","type":"delay","z":"350ffc29.784234","name":"wait before refresh","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":200,"wires":[["421b7ca1.a2e1e4"]]},{"id":"44e9ad53.bd1364","type":"change","z":"350ffc29.784234","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":240,"wires":[["74d499d5.ced858"]]},{"id":"9b34f7d4.20d378","type":"change","z":"350ffc29.784234","name":"","rules":[{"t":"set","p":"entry.Location","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2240,"y":240,"wires":[[]]},{"id":"42dc833a.c0905c","type":"link in","z":"350ffc29.784234","name":"refresh modules in uodate/delete dropdown selection","links":["db6a42bc.f7b94","36bbca0.3f66b36"],"x":255,"y":140,"wires":[["360367dc.cfe828"]]},{"id":"694b3961.dcf798","type":"delay","z":"350ffc29.784234","name":"wait before refresh","pauseType":"delay","timeout":"5000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":520,"wires":[["46265891.27fae8"]]},{"id":"5ed9b618.a1abf8","type":"switch","z":"350ffc29.784234","name":"new?","property":"check_response","propertyType":"flow","rules":[{"t":"eq","v":"new","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":910,"y":940,"wires":[["dfdd2b34.64fbb8"],["abc7cb3a.96aea8"]]},{"id":"fb482fa2.8ee2c","type":"change","z":"350ffc29.784234","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"300","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":520,"wires":[["694b3961.dcf798"]]},{"id":"beb74a36.8e4ba8","type":"change","z":"350ffc29.784234","name":"restore entry","rules":[{"t":"set","p":"payload","pt":"msg","to":"entry","tot":"flow"},{"t":"set","p":"entry","pt":"msg","to":"entry","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":940,"wires":[["5ed9b618.a1abf8"]]},{"id":"dfdd2b34.64fbb8","type":"change","z":"350ffc29.784234","name":"rm rev, id","rules":[{"t":"delete","p":"payload._rev","pt":"msg"},{"t":"delete","p":"payload._id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":780,"wires":[["d7b16839.375a98","36bbca0.3f66b36"]]},{"id":"8db1f9da.299eb8","type":"comment","z":"350ffc29.784234","name":"Show Module IDs","info":"","x":110,"y":460,"wires":[]},{"id":"3b31bed3.7f5892","type":"http in","z":"350ffc29.784234","name":"","url":"/module","method":"delete","upload":false,"swaggerDoc":"","x":100,"y":1080,"wires":[["5e244d2d.3773a4"]]},{"id":"5e244d2d.3773a4","type":"function","z":"350ffc29.784234","name":"copy query to payload","func":"msg.payload = {};\nmsg.payload = msg.req.query;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1080,"wires":[["721eff9.c9ca","755190c3.2ff6c"]]},{"id":"755190c3.2ff6c","type":"http response","z":"350ffc29.784234","name":"","statusCode":"200","headers":{},"x":1060,"y":1080,"wires":[]},{"id":"d8a407e7.cafb48","type":"http in","z":"350ffc29.784234","name":"","url":"/module","method":"put","upload":false,"swaggerDoc":"","x":90,"y":860,"wires":[["dd5d90e1.73448"]]},{"id":"dd5d90e1.73448","type":"function","z":"350ffc29.784234","name":"copy query to payload","func":"msg.payload = {};\nmsg.payload = msg.req.query;\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":860,"wires":[["88ec8d79.85a7a","13d24a2d.43ed76"]]},{"id":"13d24a2d.43ed76","type":"http response","z":"350ffc29.784234","name":"","statusCode":"200","headers":{},"x":1620,"y":860,"wires":[]},{"id":"1a2619aa.392226","type":"comment","z":"350ffc29.784234","name":"New Module ","info":"","x":90,"y":680,"wires":[]},{"id":"f84831e3.8085","type":"comment","z":"350ffc29.784234","name":"Update Module ","info":"","x":100,"y":820,"wires":[]},{"id":"61a64d08.2e8234","type":"comment","z":"350ffc29.784234","name":"Process New, Update, Delete Form","info":"","x":160,"y":900,"wires":[]},{"id":"50584994.1c9ae8","type":"comment","z":"350ffc29.784234","name":"Delete Module ","info":"","x":100,"y":1040,"wires":[]},{"id":"859c2769.3ed9f8","type":"comment","z":"350ffc29.784234","name":"Get Module ","info":"","x":90,"y":1140,"wires":[]},{"id":"e1760c69.829a9","type":"comment","z":"350ffc29.784234","name":"Get All Modules","info":"","x":100,"y":580,"wires":[]},{"id":"396838bb.cadba8","type":"cloudant in","z":"350ffc29.784234","name":"","cloudant":"11df8f38.b6cff1","database":"modules","service":"module-connector-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":1480,"y":200,"wires":[["1e3f1cde.1a3013","f6bb4efb.5ae84","c027ce53.d38db","7771f6a5.78e768","44e9ad53.bd1364","6d205cb8.0c6e64","248b42e7.24c93e","8bcdc2a8.1b672"]]},{"id":"8bcdc2a8.1b672","type":"change","z":"350ffc29.784234","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Power_Required","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":280,"wires":[["7f0b3b9b.de26a4"]]},{"id":"a3d476ae.821758","type":"change","z":"350ffc29.784234","name":"","rules":[{"t":"set","p":"entry.Power_Required","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2270,"y":280,"wires":[[]]},{"id":"29361e96.1455a2","type":"cloudant in","z":"350ffc29.784234","name":"","cloudant":"11df8f38.b6cff1","database":"module","service":"module-connector-cloudantNoSQLDB","search":"_idx_","design":"Module-B_Status-Unblocked_Search","index":"Module-B_Status-Unblocked","x":600,"y":120,"wires":[["dfcc1d91.0042d"]]},{"id":"3e8a0fb0.43694","type":"inject","z":"350ffc29.784234","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":100,"wires":[["a855e735.4071e8"]]},{"id":"dfcc1d91.0042d","type":"debug","z":"350ffc29.784234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":120,"wires":[]},{"id":"72737526.f7bb9c","type":"http request","z":"350ffc29.784234","name":"","method":"POST","ret":"txt","url":"https://3c4ce645-7718-4245-8013-46215bc10ce7-bluemix.cloudant.com/dashboard.html#database/modules/_find","tls":"","x":630,"y":60,"wires":[["3d190081.68938"]]},{"id":"f389d46.000dc28","type":"change","z":"350ffc29.784234","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    \"selector\": {       \"B_Status\": {          \"$eq\": \"Unblocked\"       }    },    \"fields\": [       \"_id\",       \"_rev\",       \"B_Status\",       \"Short_ID\"    ],    \"sort\": [       {          \"B_Status\": \"asc\"       }    ] }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":60,"wires":[["72737526.f7bb9c"]]},{"id":"3d190081.68938","type":"debug","z":"350ffc29.784234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":60,"wires":[]},{"id":"a855e735.4071e8","type":"change","z":"350ffc29.784234","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"B_Status\":\"Unblocked\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":120,"wires":[["29361e96.1455a2"]]},{"id":"1f552ea8.a03951","type":"ui_dropdown","z":"350ffc29.784234","name":"","label":"Short ID","tooltip":"","place":"Select Short ID","group":"c61c2356.009f2","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1260,"y":200,"wires":[["396838bb.cadba8"]]},{"id":"afb2fd08.9af2","type":"ui_dropdown","z":"350ffc29.784234","name":"","label":"B_Status","tooltip":"","place":"Select option","group":"c61c2356.009f2","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"Unblocked","value":"Unblocked","type":"str"},{"label":"Blocked","value":"Blocked","type":"str"}],"payload":"","topic":"","x":1980,"y":120,"wires":[["13659dbe.d478c2"]]},{"id":"b87844fd.4b4f38","type":"ui_dropdown","z":"350ffc29.784234","name":"","label":"L_Status","tooltip":"","place":"Select option","group":"c61c2356.009f2","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"Unlocked","value":"Unlocked","type":"str"},{"label":"Locked","value":"Locked","type":"str"}],"payload":"","topic":"","x":1980,"y":160,"wires":[["448103a0.69b7fc"]]},{"id":"260d4464.69df6c","type":"ui_dropdown","z":"350ffc29.784234","name":"","label":"O_Status","tooltip":"","place":"Select option","group":"c61c2356.009f2","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"Not operating","value":"Not operating","type":"str"},{"label":"Test operation","value":"Test operation","type":"str"},{"label":"Operation","value":"Opderation","type":"str"}],"payload":"","topic":"","x":1980,"y":200,"wires":[["fe18b815.842a68"]]},{"id":"e9818b6.de9f978","type":"ui_text_input","z":"350ffc29.784234","name":"","label":"Module ID","tooltip":"","group":"c61c2356.009f2","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1990,"y":80,"wires":[["4a51b594.2e2e6c"]]},{"id":"74d499d5.ced858","type":"ui_text_input","z":"350ffc29.784234","name":"","label":"Location","tooltip":"","group":"c61c2356.009f2","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1980,"y":240,"wires":[["9b34f7d4.20d378"]]},{"id":"7f0b3b9b.de26a4","type":"ui_text_input","z":"350ffc29.784234","name":"","label":"Power Required (W)","tooltip":"","group":"c61c2356.009f2","order":7,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":2020,"y":280,"wires":[["a3d476ae.821758"]]},{"id":"544f53a4.7b327c","type":"ui_text","z":"350ffc29.784234","group":"c61c2356.009f2","order":1,"width":0,"height":0,"name":"","label":"Modules","format":"{{msg.payload}}","layout":"col-center","x":1220,"y":520,"wires":[]},{"id":"c07c9c39.8701f","type":"ui_text","z":"350ffc29.784234","group":"c61c2356.009f2","order":11,"width":0,"height":0,"name":"","label":"_id","format":"{{msg.payload}}","layout":"row-left","x":1970,"y":340,"wires":[]},{"id":"d8cc3b9d.577308","type":"ui_template","z":"350ffc29.784234","group":"c61c2356.009f2","name":"trigger when view is opened","order":9,"width":"6","height":"1","format":"\n<script>\n(function() {\n    var count = 0\n    function testit(msg,scope) {\n        count = count+1;\n        console.log(\"In testit \" + msg.payload + \"  count = \" + count);\n        scope.send({payload: \"from testit \" + msg.payload + \"  count = \" + count});\n    }\n    \n    (function(scope) {\n        scope.send({payload: \"preload\"});   // this gets sent when the view is opened in the browser\n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                testit(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":160,"y":200,"wires":[["b56187e3.9aafb8","360367dc.cfe828"]]},{"id":"2414d5f.8ad0f2a","type":"ui_template","z":"350ffc29.784234","group":"c61c2356.009f2","name":"New, Update, Delete Form","order":8,"width":"6","height":"2","format":"<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" >\n<form action=\"/module_form\" method=\"post\">\n    <button name=\"check_response\" value=\"new\" type=\"submit\" class=\"btn btn-warning\">New</button>\n    <button name=\"check_response\" value=\"update\" type=\"submit\" class=\"btn btn-primary\">Update</button>\n    <button name=\"check_response\" value=\"delete\" type=\"submit\" class=\"btn btn-danger\">Delete</button>\n</form>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":140,"y":400,"wires":[[]]},{"id":"50d2994b.78f7a8","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"dae90495.297598","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"11df8f38.b6cff1","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"c61c2356.009f2","type":"ui_group","z":"","name":"Telefon Simulator","tab":"e52a6c74.98a88","order":2,"disp":false,"width":"6","collapse":false},{"id":"e52a6c74.98a88","type":"ui_tab","z":"","name":"Demos","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
